{% extends '/layout.html.twig' %}
{% block content %}
    <div class="row">
        <h1 class="col">{% trans %}Admin{% endtrans %}</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="" class="btn btn-lg btn-outline-dark" title="{% trans %}User admin{% endtrans %}">
                <i class="fas fa-users"></i>
            </a>
        </div>
        <div class="col text-center">
            <a href="" class="btn btn-lg btn-outline-dark" title="{% trans %}Roles admin{% endtrans %}">
                <i class="fas fa-user-tag"></i>
            </a>
        </div>
        <div class="col text-center">
            <a href="" class="btn btn-lg btn-outline-dark" title="{% trans %}Product group{% endtrans %}">
                <i class="fas fa-utensils"></i>
            </a>
        </div>
        <div class="col text-center">
            <a href="" class="btn btn-lg btn-outline-dark" title="{% trans %}Product{% endtrans %}">
                <i class="fas fa-carrot"></i>
            </a>
        </div>
    </div>
{% endblock %}
