{% extends '/layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-2 mainContent">
            {% include('menu.html.twig') %}
        </div>
        <div class="col mainContent">
            {% block admincontent %}
                <h1>{% trans %}Admin{% endtrans %}</h1>
            {% endblock %}
        </div>
    </div>
{% endblock %}
