<nav class="navbar navbar-expand-md navbar-light ligthbleu" id="menuHeader">
    <a href="{{ path('index') }}">
        <img src="/logo.png" class="" alt="Diabetigraph" width="100vh" height="100vh"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
            {% if app.user %}
                You are logged in as {{ app.user.username }}, <a class="btn btn-outline-dark"
                                                                 href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="btn btn-outline-dark" href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </span>
    </div>
</nav>

