<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{% trans %}Delete {% endtrans %} <span id="deleteType"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans %}Are you sure you want to delete {% endtrans %} "<span id="deleteDescription"></span>"
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger" id="deleteLink" title="{% trans %}Delete product{% endtrans %}"><i class="fas fa-trash-alt"></i></a>
                <a href="" class="btn btn-dark" data-dismiss="modal"><i class="far fa-window-close"></i></a>
            </div>
        </div>
    </div>
</div>
