{% extends '/layout.html.twig' %}

{% block content %}
    <h1>Something went wrong</h1>

    <p>
        The requested page couldn't be loaded. Checkout for any URL
        misspelling or <a href="{{ path('app_index') }}">return to the homepage</a>.
    </p>
{% endblock %}
